html, body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.section-left ul {
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Comfortaa', sans-serif; */
  /* font-family: 'Didact Gothic', sans-serif; */
  font-family: 'Darker Grotesque', sans-serif;
  letter-spacing: 0.1em;
  font-kerning: none;
  opacity: 0.8;
}

a {
  text-decoration: none;
  font-weight: 900;
}

header h1 {
  font-size: 40px;
  margin-top: auto;
  margin-bottom: 0;
}

.section-left h1 {
  font-size: 32px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.section-left ul {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
li::marker {
  content: ">";
}
.section-left ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: -15px;
  margin-inline-end: 0px;
  padding-inline-start: 20px;
}

code.big {
  font-size: 16px;
  display: block;
  padding: 5px 0;
  font-weight: 900;
}
