.demo {
  position: relative;
  width: 310px;
  padding: 10px 0;
  overflow: hidden;
}

.demo .square, .demo .circle, .demo .cup {
  pointer-events: none;
  width: 28px;
  height: 28px;
  margin: 2px;
  background-color: currentColor;
  font-size: 14px;
}

.demo .circle, .demo .cup {
  border-radius: 50%;
}

.demo .cup {
  background-color: rgba(0, 0, 0, 0.0);
  margin: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: #dbf;
}

.demo .extra {
  position: absolute;
}

.demo .shadow {
  opacity: 0.2;
}
.demo code.shadow {
  opacity: 0.4;
}

.demo .new {
  color: #BA2158;
}

.demo .old {
  color: #7049da;
}

.demo .plain {
  color: #F6F4F2;
}

.demo .align-center {
  display: flex;
  justify-content: center;
}

.demo .struct {
  padding: 2px 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
  background-color: currentColor;
  display: flex;
  flex-direction: row;
  width: max-content;
}

.demo code.with-bg {
  padding: 0 4px;
  margin: 0 2px;
  border-radius: 8px;
  background-color: #1B181C;
}
